body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:61px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:652px;
  width:404px;
  height:60px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:400px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:679px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#2A2A2A;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:420px;
  height:90px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:572px;
  width:410px;
  height:80px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:502px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:400px;
  height:502px;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NewJuneBold Bold', 'NewJuneBold';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:240px;
  width:52px;
  height:30px;
  font-family:'NewJuneBold Bold', 'NewJuneBold';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NewJuneLight ☞';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:279px;
  width:360px;
  height:124px;
  font-family:'NewJuneLight ☞';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:593px;
  width:61px;
  height:37px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:593px;
  width:283px;
  height:37px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:37px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u18 {
  position:fixed;
  left:0px;
  top:0px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:75px;
  background-image:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:75px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:75px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
